
* {
	margin: 0;
	border: 0;
/*	padding: px;*/
}

body {
	display: flex;
	flex-direction: column;
}

.block1 {
	background: #1F2937;
}
.header {
	display: flex;
	justify-content: space-between;
	padding: 20px 200px;
}

.logo {
	color: #F9FAF8;
	font-size: 24px;
	font-weight: 700;
	font-family: "roboto";
}

.header-links {
	display: flex;
	align-items: center;
	gap: 15px;
}

.welcome {
	display: flex;
	padding: 100px 200px;
	justify-content: space-between;
	align-items: center;
}

.welcome-column {
	display: flex;
	flex-direction: column;
	max-width: 400px;
}

.ruboto {
	font-family: "roboto";
	color: #F9FAF8;
}

.hero {
	font-size: 48px;
	font-weight: 800;
	color: F9FAF8;

}

.info {
	padding: 20px 0px;
	color: #E5E7EB;
}

.block2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: white;
	padding: 60px;
}

.images {
	display: flex;
	gap: 30px;
}

.text {
	 color: grey;
	 text-align: center;
}

h1 {
	font-family: "roboto";
	color: black;
	padding: 30px;
}

.block-image {
	width: 300px;
	height: 200px;
	border: 4px solid blue;
	border-radius: 8px;
}

.block3 {
	display: flex;
	background: #E5E7EB;
	padding: 100px;
	align-items: center;
	flex-direction: column;
/*	max-width: 100px;*/
}

.block4 {
	display: flex;
	justify-content: center;
	background: #3882F6;
	padding: 100px;
	margin: 200px;
	gap: 140px;
	border-radius: 15px;
	color: lightgrey;
}

.footer {
	background: #1F2937;
	color: white;
	text-align: center;
	padding: 70px;
	font-family: "roboto";
	font-size: 20px;
	color: #E5E7EB;
}

p {
	font-family: "roboto";
}

.bigger {
	font-size: 24px;
	color: white;
}

.author {
	text-align: right;
	width: 400px;
	font-family: "roboto";
	font-size: 30px;
	font-weight: 600;
	color: #1F2937;

	/*	font-size: 100px;*/
}

.quote {
	max-width: 500px;
	font-size: 36px;
	color: #1F2937;
	font-style: italic;
	font-weight: 300;
	font-family: "roboto";
}

a {
	text-decoration: none;
	color: #E5E7EB;
	font-size: 18px;
	font-family: "roboto";
}

li {
  list-style-type: none;
}

img {
	width: auto;
	height: 300px;
}

button {
  font-family: Roboto, sans-serif;
  color: white;
  border: none;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  background: #3882F6;
  padding: 8px 15px;
  width: 200px;
}

.other-button {
	border: solid white;
}