
* {
	margin: 0;
	border: 0;
/*	padding: px;*/
}

body {
	display: flex;
	flex-direction: column;
}

.block1 {
	background: #1F2937;
}
.header {
	display: flex;
	justify-content: space-between;
	padding: 50px 200px;
}

.logo {
	color: #F9FAF8;
	font-size: 24px;
	font-weight: 700;
	font-family: "roboto";
}

.header-links {
	display: flex;
	align-items: center;
	gap: 15px;
}

.welcome {
	display: flex;
	padding: 100px 200px;
	justify-content: space-between;
	align-items: center;
/*	max-width: 2000px;*/
/*	padding: 100px;*/
}

.welcome-column {
	display: flex;
	flex-direction: column;
	max-width: 400px;
}

.hero {
	font-size: 12px;
/*	font-weight: 00;*/
}

.ruboto {
	font-family: "roboto";
	color: #F9FAF8;
}

.hero {
	font-size: 48px;
	font-weight: 500;
}

.info {
	padding: 20px 0px;
}

.block2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: white;
	padding: 60px;
}

.images {
	display: flex;
	gap: 30px;
}

.text {
	 color: grey;
	 text-align: center;
}

h1 {
	font-family: "roboto";
	color: black;
	padding: 30px;
}

.block-image {
	width: 300px;
	height: 200px;
	border: 4px solid blue;
	border-radius: 8px;
}

.block3 {
	display: flex;
	background: #E5E7EB;
	padding: 100px;
	align-items: center;
	flex-direction: column;
/*	max-width: 100px;*/
}

/*.author {
	align-items: flex-start;
}*/

.quote {
	max-width: 500px;
	font-size: 36px;
	color: #1F2937;
	font-style: italic;
	font-family: "roboto";
}

a {
	text-decoration: none;
	color: #E5E7EB;
	font-size: 18px;
	font-family: "roboto";
}

li {
  list-style-type: none;
}

img {
	width: auto;
	height: 300px;
}

button {
  font-family: Roboto, sans-serif;
  color: white;
  border: none;
  font-size: 18px;
  font-weight: 600;
  border-radius: 15px;
  background: #3882F6;
  padding: 8px 15px;
  width: 200px;
}